- create
- indexing and slicing
- methods
- basics operations
- comprehension

In [1]:
x = [ ] # empty list
a = [1,2,3,4] # numerical list
b = ['alex', 'alexa', 'alexis'] # text list
c = ['alex', 12, 'alexa', 15, 'alexis', 10] # mixed list (heterogeneous)
d = [[1,2,3], [1,2], [2,3,4,4]] # nested list
e = [[1,2,3], [2,3,4], [1,2,2]] # nested list (equal length)

In [2]:
w = [1] * 10 # list duplication (repetition)
print(w)

w2 = [1,2,3] * 3 # list duplication (repetition)
print(w2)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [3]:
a = [1,2,3]
b = [4,5,6]
c = a + b # list concatenation
print(c)

d = [a, b] # nested list
print(d)

[1, 2, 3, 4, 5, 6]
[[1, 2, 3], [4, 5, 6]]

In [4]:
"one for all".split() # split string into list

['one', 'for', 'all']

In [5]:
x = [1,2,3,4,5,6,7,8,9,10]
print(x[:3]) # first 3 items
print(x[-4:]) # last 4 items
print(x[3:-3]) # middle items

print(x)
print(x[::-1]) # reverse list

print(x[::2]) # all elements with even index
print(x[1::2]) # all elements with odd index

[1, 2, 3]
[7, 8, 9, 10]
[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [6]:
print(x[0]) # first element
print(x[-1]) # last element
# print(x[12]) # error

1
10

In [7]:
# traverse list
for i in x:
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

methods
- add
    - append
    - extend
    - insert
- remove
    - remove
    - pop
    - clear
- helper
    - index
    - count
    - sort
    - reverse
    - copy

In [8]:
books = []
books.append("The Final Empire")
books.append("The Well of Ascension")
books.append("The Hero of Ages")
books.append("Warbreaker")
print(books)

['The Final Empire', 'The Well of Ascension', 'The Hero of Ages', 'Warbreaker']

In [9]:
books.insert(1, 'The Way of kings')
books.insert(4, 'Words of Radiance')
print(books)

['The Final Empire', 'The Way of kings', 'The Well of Ascension', 'The Hero of Ages', 'Words of Radiance', 'Warbreaker']

In [10]:
crappy_books = [
    'Twilight Saga: New Moon',
    'Twilight Saga: Eclipse',
    'The Wheel of Time',
    'The Great Hunt',
]
print(crappy_books)

['Twilight Saga: New Moon', 'Twilight Saga: Eclipse', 'The Wheel of Time', 'The Great Hunt']

In [11]:
books.extend(crappy_books)
print(books)

['The Final Empire', 'The Way of kings', 'The Well of Ascension', 'The Hero of Ages', 'Words of Radiance', 'Warbreaker', 'Twilight Saga: New Moon', 'Twilight Saga: Eclipse', 'The Wheel of Time', 'The Great Hunt']

In [12]:
nums = [1,2,3]
more_nums = [4,5,6,7]
nums.extend(more_nums)
print(nums)

[1, 2, 3, 4, 5, 6, 7]

In [13]:
num_matrix = [nums, nums, nums]
print(num_matrix)

[[1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7]]

In [14]:
all_num = nums + more_nums
print(all_num)

[1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7]

In [15]:
a = []
for i in range(5):
    x =  input('enter some data:')
    a.append(x)
print(a)

['asdsa', 'asdas', 'as', 'sad', 'asd']

#### take 5 inputs as numbers and then display the total from the user and the numbers in a list

In [17]:
x = []
for i in range(5):
    a = int(input("Koi number bharo:"))
    x.append(a)
print(f'total : {sum(x)}')

total : 55

In [ ]:
books.remove("The Wheel of Time")

In [ ]:
def safe_remove(val_to_remove):
    if val_to_remove in books:
        books.remove(val_to_remove)
        print(f"✅ {val_to_remove} removed from list")
    else:
        print(f'❌{val_to_remove} not found in list')

In [ ]:
safe_remove('Warbreaker')

✅ Warbreaker removed from list

In [ ]:
books.pop() # remove last element

'Words of Radiance'

In [ ]:
output = books.pop(1) # remove element at index 1
print(output)
print(books)

The Hero of Ages
['The Final Empire']

In [ ]:
books.clear()
print(books)

[]

In [ ]:
x.clear()
print(x)

[]

In [ ]:
del a

In [19]:
x = ['a1', 'b2', 'a1', 'a1', 'b2']
print(x.count('a1'))
print(x.count('b2'))
print(x.count('c2'))

3
2
0

In [22]:
x.sort()
print(x)
x.sort(reverse=True)
print(x)

['a1', 'a1', 'a1', 'b2', 'b2']
['b2', 'b2', 'a1', 'a1', 'a1']

In [23]:
a= [1,2,3,4,5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [27]:
words = ['app','apple','avocado','aeroplane','association']
words.sort()
print(words)
words.sort(reverse=True)
print(words)
words.sort(key=len) # sort by length
print(words)
words.sort(key=len, reverse=True) # sort by length , descending
print(words)

['aeroplane', 'app', 'apple', 'association', 'avocado']
['avocado', 'association', 'apple', 'app', 'aeroplane']
['app', 'apple', 'avocado', 'aeroplane', 'association']
['association', 'aeroplane', 'avocado', 'apple', 'app']

In [33]:
words.index('app') # returns index of first occurence of element

4

In [34]:
word_copy1 = words # copy by reference
word_copy2 = words.copy() # copy by value

In [35]:
word_copy1 is words # True

True

In [36]:
word_copy2 is words # False

False

In [37]:
x = [1,2,3]
y = x # copy by reference
x.append(4)
y.append(4)
print(x)
print(y)

[1, 2, 3, 4, 4]
[1, 2, 3, 4, 4]

In [41]:
x = [1,2,3]
y = x.copy() # copy by value
y.append(4)
print(x)
print(y)

[1, 2, 3]
[1, 2, 3, 4]

generating a list of numbers from existing list

In [42]:
x = [1,2,3,4,5]
x2 = []
for i in x:
    s = i ** 2
    x2.append(s)
print(x2)

[1, 4, 9, 16, 25]

list comprehension
syntax:
```
new_list = [operation for item in list]
```
list comprehension with condition
```
new_list = [ operation from item in list if expression ] 
```

In [44]:
x2 = [i**2 for i in x]
print(x2)

[1, 4, 9, 16, 25]

In [47]:
a = [1,2,3,4,5,6,7,8,9,10]
a_odd = [i for i in a if i % 2 != 0]
print(a)
print(a_odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]