In [1]:
x = (1,2,3) # tuple
x
print(x, type(x))

(1, 2, 3) <class 'tuple'>

In [4]:
a = 1, 3, 5, 7, 9 # tuple packing
print(a, type(a))

(1, 3, 5, 7, 9) <class 'tuple'>

In [9]:
t = (1,2,3)
a = t
print(a)
a, b, c = t # tuple unpacking
print(a, b, c)
a, *b = t # a gets 1st element, b gets the rest
print(a, b)
*a, b = t # a gets the rest, b gets the last element
print(a, b)

(1, 2, 3)
1 2 3
1 [2, 3]
[1, 2] 3

In [13]:
t2 = (1,2,3,4,5,6,7,8,9)
x, *_, y = t2 # _ is a throwaway variable
print(x, y, _)

1 9 [2, 3, 4, 5, 6, 7, 8]

tuple methods
- count
- index

In [17]:
t2 = (3,3,31,1,1,2,2,3)
print(t2.count(3)) # count the number of 3s in t2
print(t2.index(3)) # index of the first 3 in t2
print(t2.index(31))

3
0
2

In [20]:
a = (1,2,3)
x1,x2,x3 = a

x1, *x2 = a
print(x1, x2)

1 [2, 3]